@import "./variables.css";
@import "./fonts.css";
@import "./defaults.css";
@import "./top-bar.css";
@import "./navbar.css";
@import "./course-box.css";
@import "./helper.css";
@import "./footer.css";
@import "./breadcrumb.css";
@import "./sidebarCoursesBox.css";

/* ========================Start Article Details Styles ============== */

.article {
  padding: 2.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}
.article__title {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--dark-color);
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 1rem;
}
.article__header {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.article__header-item {
  margin-left: 2rem;
}
.article__header-icon {
  font-size: 1.7rem;
  color: #c7c7c7;
}
.article__header-text {
  font-size: 1.2rem;
  color: #8f8f8f;
}
.article__banner {
  margin-top: 4rem;
}
.article__score {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.article__score-icon {
  margin-left: -0.4rem;
}
.article__score-text {
  margin-right: 2rem;
  font-size: 1.7rem;
  color: #7d7d7e;
}
.article__paragraph {
}

/* ========================Finish Article Details Styles ============== */

/* ========================Start Sidebar Articles Styles ============== */

.course-info {
  overflow: hidden;
}
.course-info__courses-title {
  position: relative;
}
.course-info__courses-title::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 39px;
  background-color: var(--primary-color);
  transform: skewX(-10deg);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 12px;
  top: -5px;
  right: -27px;
}

.sidebar-articles__list {
  margin-top: 2rem;
}
.sidebar-articles__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9rem 1.3rem 0.9rem 1rem;
  transition: all 400ms ease;
}
.sidebar-articles__item:hover {
  padding-right: 2rem;
  background-color: #f8f9fa;
}
.sidebar-articles__item:hover .sidebar-articles__icon {
  color: var(--primary-color);
}
.sidebar-articles__icon {
  font-size: 1.4rem;
  color: #909aa7;
  transition: all 400ms ease;
}
.sidebar-articles__link {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
.last-articles__list {
  margin-top: 2rem;
}
.last-articles__item {
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
}
.last-articles__link {
  font-size: 1.5rem;
}

/* ========================Finish Sidebar Articles Styles ============== */

/* ==========Start Helper Classes ===== */

.paragraph {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #7d7e7f;
}
/* ==========Finish Helper Classes ===== */
