@import "./variables.css";
@import "./fonts.css";
@import "./defaults.css";
@import "./top-bar.css";
@import "./navbar.css";
@import "./course-box.css";
@import "./helper.css";
@import "./footer.css";
@import "./breadcrumb.css";
@import "./sidebarCoursesBox.css";

/* ========================Start Sidebar Articles Styles ============== */

.course-info {
  overflow: hidden;
}
.course-info__courses-title {
  position: relative;
}
.course-info__courses-title::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 39px;
  background-color: var(--primary-color);
  transform: skewX(-10deg);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 12px;
  top: -5px;
  right: -27px;
}

.sidebar-articles__list {
  margin-top: 2rem;
}
.sidebar-articles__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9rem 1.3rem 0.9rem 1rem;
  transition: all 400ms ease;
}
.sidebar-articles__item:hover {
  padding-right: 2rem;
  background-color: #f8f9fa;
}
.sidebar-articles__item:hover .sidebar-articles__icon {
  color: var(--primary-color);
}
.sidebar-articles__icon {
  font-size: 1.4rem;
  color: #909aa7;
  transition: all 400ms ease;
}
.sidebar-articles__link {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

/* ========================Finish Sidebar Articles Styles ============== */
